body {
    background-color: #f8f9fa;
  }
  #nav-tgl{
    z-index: 2;
  }
  
  /* .show{
    display: none;
  } */
  
  .card-main {
    width: 18rem; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 8px;
  }
  
  .card-footer {
    background: transparent;
    border-top: 0px;
  }
  
  .tag-rate{
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: #ff0e0e;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .card-img-top {
    width: 100%;
    object-fit: cover;
  }
  
  